.AppDark {
  text-align: center;
  /* Source for gif https://www.youtube.com/watch?v=rpWrtXyEAN0 */
  background-image: url("./imgsAndGifs/codeRainBackground.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-y: scroll;
  min-height: 100vh;
}

.AppLight {
  text-align: center;
  /* Source for gif https://www.youtube.com/watch?v=rpWrtXyEAN0 */
  background-image: url("./imgsAndGifs/invertedCodeRain.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-y: scroll;
  min-height: 100vh;
}

#darkLightModeToggle {
  z-index: 100;
  position: fixed;
  left: 1rem;
  bottom: 1rem;
}

#gitHub {
  z-index: 100;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 3rem;
}

.upperbody {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-x: hidden;
  padding-top: 3rem;
  padding-left: 5rem;
}

#inputAndResponseArea {
  align-self: flex-start;
}

#filters {
  align-self: flex-start;
}

@media only screen and (max-width: 1450px) {
  .upperbody {
    
  }
}

@media only screen and (max-width: 1250px) {
  .upperbody {

  }
}

@media only screen and (max-width: 900px) {
  .upperbody {
  }
}

